.password {
  position: relative;
  margin-bottom: 10px;

  &__input {
      border: 1px solid #ddd;
      height: 40px;
      padding: 0 15px;
      border-radius: 5px;
      font-size: 15px;
      width: 300px;
      font-family: 'Courier New', Courier, monospace;

      ::placeholder {
          font-family: 'Courier New', Courier, monospace;
      }

      &__hide {
          position: absolute;
          right: 15px;
          top: 10px;
          cursor: pointer;
      }
  }
}
