@import '../styles.scss';

.app {
    margin: 25px 15px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @include onDesktop() {
        grid-template-columns: repeat(8, 1fr);
        row-gap: 80px;
        gap: 40px;
    }

    &__title {
        font-family: 'Courier New', Courier, monospace;
        grid-column: 1 / -1;

        @include onDesktop() {
            grid-column: 1 / 5;
            grid-row: 1;
        }
    }
}

.password-checker {
    grid-column: 1 / -1;

    @include onDesktop() {
        grid-column: 1 / 5;
        grid-row: 2;
    }
}

.password-rules {
    grid-column: 1 / -1;

    @include onDesktop() {
        grid-column: 5 / -1;
        grid-row: 1 / span 2;
    }
}

.rules-list {
    &__item {
        font-family: 'Courier New', Courier, monospace;
    }
}

.validation {
    &__bar {
        display: flex;
        justify-content: space-between;
        width: 300px;
        margin-bottom: 10px;

        &__section {
            width: 30%;
            height: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: lightgray;
        }
    }

    &__status {
        margin: 0;
        font-family: 'Courier New', Courier, monospace;
    }

    .weak {
        .validation__bar__section:nth-child(1),
        .validation__bar__section:nth-child(2),
        .validation__bar__section:nth-child(3) {
            background-color: lightcoral;
        }
    }

    .easy {
        .validation__bar__section:nth-child(1) {
            background-color: lightcoral;
        }
    }

    .medium {
        .validation__bar__section:nth-child(1),
        .validation__bar__section:nth-child(2) {
            background-color: lightgoldenrodyellow;
        }
    }

    .strong {
        .validation__bar__section:nth-child(1),
        .validation__bar__section:nth-child(2),
        .validation__bar__section:nth-child(3) {
            background-color: lightgreen;
        }
    }
}
