<div class="app">
  <h1 class="app__title">Check your password</h1>

  <div class="password-checker">
    <app-password-input (passwordChanged)="updatePassword($event)"></app-password-input>

    <div class="validation">
      <div class="validation__bar" [ngClass]="getValidationBarClass()">
        <span class="validation__bar__section"></span>
        <span class="validation__bar__section"></span>
        <span class="validation__bar__section"></span>
      </div>
    </div>
  </div>

  <div class="password-rules">
    <ul class="rules-list">
      <li class="rules-list__item">Password must be at least 8 characters</li>
      <li class="rules-list__item">Spaces are not allowed</li>
      <li class="rules-list__item">Password must contain at least 1 letter</li>
      <li class="rules-list__item">Password must contain at least 1 number</li>
      <li class="rules-list__item">Password must contain at least 1 special character</li>
    </ul>
  </div>
</div>
